/* font style */
/*nav head*/
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*banner head font style*/
.raleway-banner-h {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* shared style */
.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    font-weight: bolder;
    height: 48px;
    width: 135px;
    color: white;
    border: none;
    border-radius: 10px; 
}
 


/* header style */
header{
    background-image:url('../img/Hero-bg.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 1440px;

}
/* nav style */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-head{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
.banner-container{
    margin:150px 250px ;
    width: 905px;
    height: 238px;
}
.banner-head{
    font-size: 65px;
    font-weight: bold;
    margin: 0 50px;
    text-align: center;
}
.banner-btn{
    margin: 50px 365px;
    width: 174px;
}

/* main style */
main{
    width: 1440px;
}
.main-action{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.action-preview{
    width: 517px;
    height: 204px;
}
.action-head{
    font-size: 42px;
    font-weight: bold;
}
.action-p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    width: 517px;
}
.action-btn{
    width: 230px;
    height: 48px;
    margin-top: 10px;
}
.action-img{
    border-radius:48px;
}
/* production users*/
.Productive-section{
    width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    align-items: center;
    justify-items: center;
    margin: 100px 150px;
}
.Productive-container{
    width: 856px;
    height: 210px;
    margin: 50px 150px;
    padding: 20px 142px;
}
.main-pro-head{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.Productive-user-count{
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.Productive-p{
    font-size: 80px;
    font-weight: bold;
    color:rgba(78, 71, 255, 1);
    margin: 0px;
    padding: 0px 9px;
}
.Productive-paragraph{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px 30px;
}
/* review style */
.review-section{
    margin: 150px 150px;
}
.review-head{
    font-size: 42px;
    font-weight: bold;           
    text-align: center;
}
.review-container{
    display: flex;
    gap:20px;
    width: 1140px;
    height: 244px;
}
.card-container{
    width: 366px;
    height: 170px;
    padding: 50px 50px 68px 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px 0px rgba(242, 237, 237, 1);
}
.star-img-container{
    display:flex;
    gap: 8px;
}
.star-img{
    width: 20px;
    height: 20px;
}
.card-head{
    font-size: 24px;
    font-weight: 600;
    margin: 24px 0px;
}
.card-para{
    font-size: 16px;
    margin-top:0px;
    padding-bottom: px;
}
.review-img-name{
    display: flex;
    gap: 10px;
    align-items: center;
}
.avater-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-review-para{
    font-size: 16px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
    margin: 5px 0px;
}
.card-date{
    color:rgba(179, 179, 179, 1);
    margin: 5px 0px;
}

/* focus style*/ 
.focus-container{
    width: 1140px;
    height: 696px;
    border-radius: 15px;
    margin: 86px 50px 50px 150px;
    box-shadow: 0px 10px 50px 0px rgba(242, 237, 237, 1);
}
.focus-head{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 30px;
}
.focus-para{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0px 312px;
}
.focus-btn{
    width: 195px;
    height: 48px;
    margin: 20px 472px;
}
.focus-img{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin: 0px 150px 150px 150px;
}